<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mizzou 101</title>
    <link rel="stylesheet" href="..\CSS\Style1.css">
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/black-carbon-fiber-texture-pattern-background_1017-33436.jpg?w=1060&t=st=1712242325~exp=1712242925~hmac=1ad73ffc1ebff180e9ba1c102a4459d73fd12893015ddd9eab44e19c5fd2af31'); 
background-size: cover; background-position: center; background-attachment: fixed;">
    <header>
        <div class="top-nav-container">
            <nav class="top-nav">
                <div class="logo-container">
                    <a href="HomePage.html">
                        <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    </a>
                </div>
                <div class="nav-links">
                    <a href="HomePage.html">Home</a>
                    <a href="FoodAndDrink.html">Food and Drink</a>
                    <a href="Clubs.html">Clubs</a>
                    <a href="parking.html">Parking</a>
                    <a href="StudentServices.html">Student Services</a>
                    <a href="outdoorActivities.html">Outdoor Activities</a>
                </div>
            </nav>
                
        </div>
    </header>

    <main>
        <section class="introduction">
            <h1>Welcome to the Clubs Page</h1>
            <p>Mizzou has many clubs for everyone. Pick one that interests you the most.</p>
        </section>

        <!-- Clubs Section -->
        <!-- Clubs - Top 3 Spots -->
        <section class="category-section">
            <div class="search-container">
                <input type="search" id="searchInput" placeholder="Search...">
            </div>
        </section>

        <!-- Clubs - Full Listing -->
        <section id="all-clubs" class="category-section">
            <h2 class="category-title">All Clubs and Sports</h2>
            <div class="category-listing" id="all-clubs-listing">
                <!-- Full listing will be injected here -->
            </div>
        </section>

 
        
    </main>

    <footer>
        <p>&copy; 2024 Mizzou 101. All rights reserved. Team Azul.</p>
    </footer>
    
    <script src= "../Scripts/ClubData.js"></script>
    <script src= "../Scripts/ClubSearch.js"></script>
</body>
</html>
