<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="..\CSS\Style1.css">
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/black-carbon-fiber-texture-pattern-background_1017-33436.jpg?w=1060&t=st=1712242325~exp=1712242925~hmac=1ad73ffc1ebff180e9ba1c102a4459d73fd12893015ddd9eab44e19c5fd2af31'); 
background-size: cover; background-position: center; background-attachment: fixed;">
    <header>
        <div class="top-nav-container">
            <nav class="top-nav">
                <div class="logo-container">
                    <a href="HomePage.html">
                        <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="details-container">
            <h1 id="placeName"></h1>
            <img id="placeImage" src="" alt="Place Image">
            <p id="placeDescription"></p>
            <a id="placeLink" href="#">Visit Website</a>
            <p id="placeTags"></p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mizzou 101. All rights reserved. Team Azul.</p>
    </footer>
    <script src="../Scripts/detailsScript.js"></script>
</body>
</html>
