<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="..\CSS\Style1.css">
</head>
<body>
    <header>
        <div class="top-nav-container">
            <nav class="top-nav">
                <div class="logo-container">
                    <a href="HomePage.html">
                        <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    </a>
                </div>
                <!-- Navigation links can be repeated here if needed -->
            </nav>
        </div>
    </header>

    <main>
        <div class="details-container">
            <h1 id="placeName"></h1>
            <img id="placeImage" src="" alt="Place Image">
            <p id="placeDescription"></p>
            <a id="placeLink" href="#">Visit Website</a>
            <p id="placeTags"></p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mizzou 101. All rights reserved. Team Azul.</p>
    </footer>
    <script src="detailsScript.js"></script>
</body>
</html>
