<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mizzou 101</title>
    <link rel="stylesheet" href="..\CSS\Style1.css">
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/black-carbon-fiber-texture-pattern-background_1017-33436.jpg?w=1060&t=st=1712242325~exp=1712242925~hmac=1ad73ffc1ebff180e9ba1c102a4459d73fd12893015ddd9eab44e19c5fd2af31'); 
background-size: cover; background-position: center; background-attachment: fixed;">
    <header>
        <div class="top-nav-container">
            <nav class="top-nav">
                <div class="logo-container">
                    <a href="HomePage.html">
                        <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    </a>
                </div>
                <div class="nav-links">
                    <a href="HomePage.html">Home</a>
                    <a href="FoodAndDrink.html">Food and Drink</a>
                    <a href="Clubs.html">Clubs</a>
                    <a href="parking.html">Parking</a>
                    <a href="StudentServices.html">Student Services</a>
                    <a href="outdoorActivities.html">Outdoor Activities</a>
                </div>
                
            </nav>
        </div>
    </header>

    <main>
        <section class="introduction">
            <h1>Welcome to the Student Services Page</h1>
            <p>Mizzou offers many great services for students to take advantage of. </p>
        </section>

        <!-- Services Section -->
        <section id="student-services" class="category-section">
            <h2 class="category-title">Student Services</h2>
            <div class="category-listing">
                <a href="https://wellbeing.missouri.edu/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Health and Wellness</p>
                </div>
                </a>

                <a href="https://financialaid.missouri.edu/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Financial Aid</p>
                </div>
                </a>

                <a href="https://career.missouri.edu/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Career Services</p>
                </div>
                 </a>

                 <a href="https://success.missouri.edu/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Student Success Center</p>
                </div>
                </a>

                <a href="https://www.themizzoustore.com/t-tigertech.aspx">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Tiger Tech</p>
                </div>
                </a>

                <a href="https://doit.missouri.edu/tech-support/">
                    <div class="category-item">
                        <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                        <p>Tech Support</p>
                    </div>
                    </a>

                <a href="https://doit.missouri.edu/services/computing-sites/computing-site-locations/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Computing Sites</p>
                 </div>
                </a>
                


                <a href="https://identity.missouri.edu/printing-services/">
                <div class="category-item">
                    <img src="Mizzou101 Logo.png" alt="Mizzou Logo" class="logo">
                    <p>Printing Services</p>
                </div>
                </a>

            </div>
        </section>

 
        
    </main>

    <footer>
        <p>&copy; 2024 Mizzou 101. All rights reserved. Team Azul.</p>
    </footer>
</body>
</html>
